/* ======================================
 * ! Alt Tab
 * ====================================== */
/*
 * This styles the normal alt-tab popup
 *
 * See also window-list module for a similar selector
 */
#altTabPopup {
	padding: 0;
	spacing: $padding-xs;

	.switcher-list {
		@include background-element;
		color: $text-secondary;
		font-size: 100%;
		padding: $padding-xxs;

		.item-box {
			padding: $padding-xs;

			&:selected {
				@include hover;
				color: $text-primary;

				/*
				 *  Popup thumbnail
				 *      Commented this out because it also affects the last item in the window selection,
				 *      not showing it as highlighted. The popup thumbnails are currently darkened
				 *      like the selected item in the window selection, this should probably be fixed
				 */

				/*
				&:last-child {
					padding: $padding-xs;
					background: none;
					color: $text-primary;
				}
				*/
			}
		}
	}

	.switcher-arrow { color: transparent; }

	.thumbnail { width: 256px; }
}

.switcher-list-item-container {}
.alt-tab-app {}

/*
 * This styles the window name box when alt-tab is
 * in 'coverflow' or 'timeline' modes
 */
StWidget > .switcher-list {
	@include background-element;
	font-weight: normal;
}
